@media screen and (max-width: 480px) {
    .vertical-center{
        top:0%;
    }
    body{
        height: auto;
    }
    .footer-list li{
        display: block;
    }
    .footer-list{
        width: 100%;
    }
    .footer{
        position: relative;
        height: auto;
    }
    #title{
        height: auto;
    }
}
body{
    margin: 0px;
    font-family: "Playball" sans-serif;
    height:100vh;
    text-align: center;
}
#title{
    height:20vh;
    display: table;
}
#title div{
    display: table-cell;
    vertical-align: middle;
}
#titletext{
    font-size: 3em;
    text-align: center;
    font-family: "Pinyon Script", cursive;
}
#subheading{
    font-family: "Playball" sans-serif;
    text-align: center;
    font-size: 1.3em;
}
.description-text{
    font-size: 18px;
}
#contact-info{
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 10%;
    margin-top: 5%;
    font-size: 1.5em;
}
.navbar-custom{
    position: relative;
    top:0px;
}
.nav .navbar-nav{
    display: inline-block;
    margin: 0 auto;
    float: none;
    height: auto;
}
.main-text{
    font-family: "Playball" sans-serif;
}
#main-image{
    height:150px;
    width:150px;
}
.centered{
    float:none;
    margin: 0 auto;
}
.vertical-center{
    position: relative;
    top:20vh;
    height: auto;
    bottom: 10%;
}
#pl1{
    height:100%;
}
.navbar-custom{
    width: auto;
    margin: 0 auto;
}
.navbar-toggle{
    color: aliceblue;
}
.img-container{
    text-align: center;
}
.nav li:hover{
    background-color: #000;
}

input{
    margin: 20px;
    width: 200px;;
}
.w{
    font-size: 2.5em;
}
.footer{
    position: absolute;
    bottom: 0px;
    background-color: #FCE4EC;
    height:5vh;;
}
.footer-list{
    width:90%;
    margin: 0 auto;
    height:auto;
}
.footer-list li{
    display: inline-block;
    width:15%;
    height:auto;
    font-size: 1.5em;
    text-align: center;
}
.circle-entries{
    height:auto;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    bottom: 0px;
}
.circle-entry{
    width: 100%;
    margin: 0 auto;
    display: table;
    color:hotpink;
    overflow: hidden;
    vertical-align: middle;
}
.circle-entry:hover{
    -webkit-filter: contrast(0.6);
}
.circle-entry p{
    font-size: 2.7em;
    display: table-cell;
    vertical-align: middle;
}
.circle-entry:hover{
    background-color: antiquewhite;
}
.circle-holder{
    overflow: hidden;
}
.image-spinner{
    height:50vh;
    margin:0 auto;
    overflow: hidden;
}
.main{
    float: none;
    height:85%;;
}
#myCarousel{
    height:50vh;
    overflow: hidden;
}
.glyphicon{
    vertical-align: middle;
}
