@media screen and (max-width: 480px) {
    .vertical-center{
        top:0%;
    }
body{
        height: auto;
    }
    .footer-list li{
        display: block;
    }
    .footer-list{
        width: auto;
    }
    .footer{
        position: relative;
        height: auto;
    }
    #title{
        height: auto;
    }
}
body{
    margin: 0px;
    font-family: "Playball" sans-serif;
    height:100vh;
    text-align: center;
}
#title{
    height:20vh;
    display: table;
}
#title div{
    display: table-cell;
    vertical-align: middle;
}
#titletext{
    font-size: 2.5em;
    text-align: center;
    font-family: "Pinyon Script", cursive;
}
#subheading{
    font-family: "Playball" sans-serif;
    text-align: center;
    font-size: 1.3em;
}
.description-text{
    font-size: 18px;
}
#contact-info{
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 10%;
    margin-top: 5%;
    font-size: 1.5em;
}
.contact_column{
  text-align:right;
}
.navbar-custom{
    position: relative;
    top:0px;
}
.nav .navbar-nav{
    display: inline-block;
    margin: 0 auto;
    float: none;
    height: auto;
}
.main-text{
    font-family: "Playball" sans-serif;
}
#main-image{
    height:100px;
    width:100px;
}
.centered{
    float:none;
    margin: 0 auto;
}
.vertical-center{
    position: relative;
    top:20vh;
    height: auto;
    bottom: 10%;
}
#pl1{
    height:100%;
}
.navbar-custom{
    width: auto;
    margin: 0 auto;
}
.navbar-toggle{
    color: aliceblue;
}
.img-container{
    padding:10px;
    text-align: center;
}
.nav li:hover{
    background-color: #000;
}

input{
    margin: 20px;
    width: 200px;;
}
.w{
    font-size: 2.5em;
}
.footer{
    background-color: #FCE4EC;
    height:auto;
}
.footer-list{
    width:auto;
    text-align:right;
    height:auto;
}
.left-list{
  float:left;
}
.right-list{
  float:right;
}
.footer-list li{
    display: inline-block;
    width:auto;
    padding-left:10px;
    padding-right:10px;
    height:auto;
    font-size: 2em;
}
.copyright{
  width:auto;
  text-align:left;
}
.circle-entries{
    height:auto;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    bottom: 0px;
}
.circle-entry{
    width: 100%;
    height:300px;
    margin: 0 auto;
    display: table;
    color:hotpink;
    overflow: hidden;
    vertical-align: middle;
}
.circle-entry:hover{
    -webkit-filter: contrast(0.6);
}
.circle-entry p{
    font-size: 2.7em;
    display: table-cell;
    vertical-align: middle;
}
.circle-entry:hover{
    background-color: antiquewhite;
}
.circle-holder{
    overflow: hidden;
}
.image-spinner{
    height:70vh;
    margin:0 auto;
    overflow: hidden;
}
.main{
    float: none;
    height:85%;;
}
#myCarousel{
    height:70vh;
    overflow: hidden;
}
.glyphicon{
    vertical-align: middle;
}
.postimage{
  display:block;
  width:200px;
  height:200px;
  margin:0 auto;
}
#gallery-post-list{
  list-style-type: none;
}
.gallery{
  height:auto;
}
.gallery-entry{
  padding:10px;
  border:1px;
  text-align:center;
}
#map{
 height:70vh;
}
#other-contact-info{
  font-size:30px;
  display: table-cell;
  text-align:center;
  vertical-align:middle;
}
.bodyholder{
  min-height:60vh;
  height:auto;
}
.paragraph{
  text-align:left;
}
#profile-image{
  width:100%;
  height:auto;
}
#aboutDescription{
  font-size:1.5em;
}
.vertical-center-holder{
  height:70vh;
  display:table;
}
a{
  color:#333;
  text-decoration:none;
}
