body{
    margin: 0px;
    font-family: "Playball" sans-serif;
    height:100vh;
    text-align: center;
}
#titletext{
    font-size: 2.5em;
    text-align: center;
    font-family: "Pinyon Script", cursive;
}
#subheading{
    font-family: "Playball" sans-serif;
    text-align: center;
    font-size: 1.3em;
}
.description-text{
    font-size: 18px;
}
#contact-info{
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 10%;
    margin-top: 5%;
    font-size: 1.5em;
}
.main-text{
    font-family: "Playball" sans-serif;
}
#main-image{
    height:150px;
    width:150px;
}
.centered{
    float:none;
    margin: 0 auto;
}
.vertical-center{
    position: relative;
    top:20vh;
    height: auto;
    bottom: 10%;
}
#pl1{
    height:100%;
}
.navbar-custom{
    background-color: #F8BBD0;
}
.navbar-toggle{
    color: aliceblue;
}
.img-container{
    text-align: center;
}
.nav li:hover{
    background-color: #000;
}
@media (max-width: 767px) {
    .vertical-center{
        top:0%;
    }
}
input{
    margin: 20px;
    width: 200px;;
}
.w{
    font-size: 2.5em;

}
.footer{
    position: absolute;
    bottom: 0px;
    background-color: beige;
    height:auto;
}
.footer-list{
    width:90%;
    margin: 0 auto;
    height:auto;
}
.footer-list li{
    display: inline-block;
    width:15%;
    height:auto;
    font-size: 1.5em;
    text-align: center;
}
.circle-entries{
    height:auto;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
}
.circle-entry{
    height:180px;
    width: 180px;
    border-radius:50%;
    margin: 0 auto;
    display: table;
    vertical-align: middle;
    background-color: lightpink;
}
.circle-entry p{
    font-size: 2.7em;
    display: table-cell;
    vertical-align: middle;
}
.circle-entry:hover{
    background-color: antiquewhite;
}
.circle-holder{
}
.image-spinner{
    height:250px;
    margin:0 auto;
    background-color: lightpink;
}
.main{
    float: none;
    height:85%;;
}