body{
    margin: 0px;
}
#titletext{
    font-size: 50px;
    text-align: center;
    font-family: "Pinyon Script", cursive;
}
#subheading{
    font-family: "Playball" sans-serif;
    text-align: center;
    font-size: 30px;
}
.slide{
    min-height: 80vh;
    height:auto;
    padding-bottom: 20px;
}
#slide2{
    padding: 30px;
    background-color: #E91E63;
    margin: 0px;
    color: azure;
}
#slide3{
 
}
#slide4{
    background-color: #E91E63;
    color:#fff;
}
.description-text{
    font-family: 'PT Serif', serif;
    font-size: 18px;
}
#contact-info{
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 10%;
}
.main-text{
    font-family: "Playball" sans-serif;
}
#main-image{
    height:200px;
    width:200px;
}
.centered{
    float:none;
    margin: 0 auto;
}
.vertical-center{
    height:auto;
    position: relative;
    top:20vh;
}
#pl1{
    height:100%;
}
.navbar-custom{
    background-color: #F8BBD0;
}
.navbar-toggle{
    color: aliceblue;
}
.img-container{
text-align: center;
}
@media (max-width: 767px) {
    .vertical-center{
        top:0%;
    }


}
