<div class="footer col-md-12 col-xs-12">
    <ul class="footer-list">
        <ul class="left-list">
            <li class="copyright">Winslet Event Design &copy; 2015 </li>
        </ul>
        <ul class="right-list">
            <li><a href="https://www.facebook.com/andrew.codispoti"><i class="fa fa-large fa-facebook-square"></i></a></li>
            <li><a href="https://instagram.com/winsleteventdesigns/"><i class="fa fa-large fa-instagram"></i></a></li>
            <li><i class="fa fa-large fa-pinterest-square"></i></li>
        </ul>
    </ul>
</div>
