<div class="col-md-12 row" id="title">
    <div id="pl1" class="col-md-8 centered">
        <div class="col-md-4 col-xs-12 img-container" >
            <img id="main-image" class="centered img-circle" src="http://www.bridalguide.com/sites/default/files/blog-images/bridal-buzz/simple-chic-wedding-cakes/simple-chic-wedding-cake-1.jpg"/>
        </div>
        <div class="col-md-8 col-xs-12">
            <p id="titletext">
                <span class="w">W</span>inslet Event Designs</p>
        </div>

    </div>
</div>
<nav class="navbar navbar-custom">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav custom-menu nav-justified">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#">Services</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Weddings</a></li>
                        <li><a href="#">Birthdays</a></li>
                        <li><a href="#">Baptisms</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
