<div class="col-md-12 row" id="title">
    <div id="pl1" class="col-md-8 col-xs-12 centered">
        <div class="col-md-4 col-xs-12 img-container" >
            <img id="main-image" class="centered img-circle" src="http://www.bridalguide.com/sites/default/files/blog-images/bridal-buzz/simple-chic-wedding-cakes/simple-chic-wedding-cake-1.jpg"/>
        </div>
        <div class="col-md-8 col-xs-12">
            <p id="titletext">
                <span class="w">W</span>inslet Event Designs</p>
        </div>

    </div>
</div>
<nav class="navbar navbar-custom">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav custom-menu nav-justified">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li class="dropdown">
                    <a href="services.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="events.html#Weddings">Details</a></li>
                        <li><a href="events.html#Birthdays">Beauty</a></li>
                        <li><a href="events.html#Baptisms">Makeup</a></li>
                        <li><a href="events.html#Baptisms">Hair</a></li>
                        <li><a href="events.html#Baptisms">Florals</a></li>
                    </ul>

                </li>
                <li class="dropdown">
                    <a href="events.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="events.html#Weddings">Weddings</a></li>
                        <li><a href="events.html#Birthdays">Birthdays</a></li>
                        <li><a href="events.html#Baptisms">Baptisms</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
